.AbouteMe_main{
    
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.AbouteMe_main-foto{  
    width: 30%;
    height: 50%;
    margin: 50px auto;
    border: 2px solid black;
    border-radius: .5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.AbouteMe_main-foto:hover .AbouteMe_main-p{
    clip-path: circle(150% at top left);
}
.AbouteMe_main-img{  
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.AbouteMe_main-p{ 
    background-color: #def5e55d;
    grid-column: 1/2;
    grid-row: 1/2;

    color: black;
    font-size: 2rem;
   
    display: grid;
    text-align: center;
    place-items: center;
    clip-path: circle(0 at top left);
    transition: clip-path .4s;
}
.AbouteMe_main-foto:hover{
    clip-path: circle(150% at top left);
}
.AbouteMe_main-div-name{
  margin: .5rem;
  text-align: center;
    
}
.AbouteMe_main-span{
    color: blue;
    font-size: 1.3rem;
    
}
.AbouteMe_main-div-a{

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    
}
.AbouteMe_main-a{
    padding: 1rem;
    
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}
.AbouteMe_main-i{
    
    transform: scale(2);
   
}
.AbouteMe_main-i:hover{
    
    transition: 1000ms;
     transform: scale(3); 
   
}
.AbouteMe_main-title-i{
    padding: .4rem;
    
}
.AbouteMe_article{
    
    width: fit-content;
    max-width: 30rem;
    height: fit-content;
    padding: .5rem;
    border-radius: .5rem;
}
