.callme_container{ 
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callme{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.callme_contian{
    width: 300px;
    height: fit-content;
    border: 3px solid blue;
    background-color: #4CACBC;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin: 1rem;
}

.callme_h3{
    text-transform: capitalize;
}
.callme_btn{
    background-color: gainsboro;
    padding: .7rem;
    border-radius: .5rem;
    margin: .5rem;
  
}
.callme_btn:hover{
    transition: 3s;
    box-shadow: inset -30px 0 0 0 blue, inset 30px 0 0 0 blue;
}
.callme_input{
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
}
.callme_textarea{
    border-radius: .5rem;
}
.mesage{
    width: fit-content;
    height: 60px;
}
.callme_i{ 
    margin: 1rem;
    border-radius: 50%;
    transform: scale(3);
    color: blue;
}
.callme_i:hover{
    transform: scale(4);
    color: rgb(74, 205, 159);
    transition: 500ms ease;
 }

