.link{
    background-color: #8D9EFF;
    height: 30px;
   
}

.link_ul{
    display: flex;
    
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
    
}
.link_li{
    color: black;
    
    width: fit-content;
    height: 100%;
   
    
    padding: .5rem .3rem;
}
.link_a{
    text-decoration: none;
    width: 100%;
}
.link_a:hover,
.link_li:hover {
    transform: scale(1.15);
    background-color: #8D72E1;
    border-radius: .3rem;
    color: white;
}

