.Portafolio{
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.Portafolio_img-e-comer{ 
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 3px gray;
    overflow: hidden;
}
.Portafolio_img-e-comer:hover{
    transition: 1500ms;
    width: 200px;
    height: 200px;
    
}
.Portafolio_containerallimg{
    padding: 1rem;
    width: 100vw;
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.Portafolio_img-e-comer1{
  
    width: 200px;
    height: 400px;
    background-image: '../assets/documents/portafolio/portafolio.png';
}
.Portafolio_img-e-comer1:hover{
    transform: translateY(-200px);
    background-color: #88E1F2;   
}
.Portafolio_img{
    width: 200px;
    height: 200px;
}
.Portafolio_img-e-comer1-hijo{
    width: 200px;
    height: 200px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Portafolio_img-btn{
    border-radius: .4rem;
    padding: .5rem;
    box-shadow: 2px 2px 3px 2px gainsboro;
}
.Portafolio_img-btn:hover{
    transform: translateY(-0.25em);
}




