.skill{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 

}
.skill_allcoantainer{
    
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.skill_main-title{
    padding-top: 1rem;
}
.skill_h1{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.skill_container-item{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    
}
.skill_item{
    transform: scale(4);
    margin:1rem 2rem;
    animation: items 7s infinite ; 
    
}
@keyframes items{
    0%{transform: scale(3);
        border-radius: 50%;
         border: 1px solid blue;
    }
    25%{transform: scale(2);}
    50%{transform: scale(3);}
    100%{transform: scale(2);}
}
.skill_span{
color: blue;
margin: 1rem .5rem;
}

